<section class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title-container md-4">
            <h5 class="card-title">Hello</h5>
            <h5 class="card-title">I'm Danna</h5>
            <p class="card-text">
              A designer who is passionate and motivated by the creative world.
            </p>
            <p class="card-text">
              I lead multiple printing and digital design projects, brand
              identity, company rebranding, branding, UI design and
              high-fidelity prototypes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card layout">
        <img
          src="../../../assets/photo.png"
          alt="Danna Rojas Graphic Designer"
          class="card-img-top"
        />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
<section class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row init">
        <h4>¡Feel free to drop me line if you need help with anything!</h4>
      </div>
      <div class="row btn-layout justify-content-evenly">
        <div class="col-md-4"></div>
        <div class="col-md-5">
          <button type="button" class="btn btn-primary now">
            <p class="p-btn">Inquire now</p>
          </button>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col-md-4"></div>
        <div class="col-md-5 text-layout">
          <p class="p-text">Please scroll down</p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>
