.card {
  background: var(--Tono1, #fef0d3);
  border-color: #fef0d3;
  width: 100%;
  height: 100%;
}
.card-body {
  padding: 0;
}
.navbar {
  padding: 0;
}
.card-title,
h5 {
  color: var(--Tono2, #fd6d0d);
  font-family: Outfit, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em;
  /*display: block;*/

  margin-bottom: 0;
}
p {
  font-family: Outfit, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  /*display: block;*/
}
.card-text {
  color: #848382;
  font-family: Outfit, sans-serif;
  /*font-size: 1.5em;*/
  font-style: normal;
  font-weight: 400;
}
.card-title-container {
  padding: 0em;
  margin-top: 7em;
  display: flex;
  width: 34.688em;
  height: 16.063em;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 2em;
  margin-bottom: 1em;
}
.card-text-container {
  display: flex;
  width: 34.688em;
  height: 16.063em;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 0em;
}
.layout {
  margin-top: 1em;
  margin-left: 1em;
  width: 100%;
  height: 25.875em;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.svg-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100%; /* Opcional: Ajusta la altura según sea necesario */
}
section {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
h4 {
  color: var(--Tono2, #fd6d0d);
  text-align: center;

  /* Tit1 */
  font-family: Outfit, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 128% */
  margin-top: 1em;
}
.init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  padding: 0px 60px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.now {
  border-radius: 3em;
  background: var(--Tono2, #fd6d0d);
  border-color: #fd6d0d;
}
.btn-layout {
  display: flex;
  padding: 0.1em 3.75em;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.625;
  flex-wrap: wrap;
}
.p-btn {
  color: var(--Tono1, #fef0d3);
  text-align: center;
  /* Boton1 */
  font-family: Outfit, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.1em;
}
.text-layout {
  display: flex;
  padding: 0.1em 3.75em;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.625;
  flex-wrap: wrap;
}
.salto {
  margin-top: 0.5em;
}
.p-text {
  color: #848382;
  text-align: center;

  /* Lla1 */
  font-family: Outfit, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 145% */
  padding: 0;
  margin: 0;
  padding-right: 0px;
  margin-bottom: 1em;
}
a:link {
  text-decoration: none;
}
@media screen and (max-width: 812px) {
  .card {
    height: initial;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  .card-body {
    margin-top: 0;
    height: initial;
    margin-bottom: 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-fluid {
    height: initial;
  }
  .layout {
    margin-top: 4em;
    width: 100%;
    height: initial;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 0em;
  }
  .card-title-container {
    text-align: center;
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 0em;
  }
  .btn-responsive {
    padding-left: 1.25em;
  }
  h4 {
    color: var(--Tono2, #fd6d0d);
    text-align: center;
    /* Tit1 */
    font-family: Outfit, sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em; /* 128% */
  }
  .p-btn {
    color: var(--Tono1, #fef0d3);
    text-align: center;
    /* Boton1 */
    font-family: Outfit, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.3em;
  }
  .btn-responsive {
    padding-left: 1em;
  }
  .p-text {
    color: #848382;
    text-align: center;

    /* Lla1 */
    font-family: Outfit, sans-serif;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 145% */
    padding: 0;
    margin: 0em 0em 0em 0em;
  }
  .salto {
    margin-top: 0;
  }
}
@media screen and (min-width: 813px) and (max-width: 1000px) {
  .btn-responsive {
    padding-left: 5em;
  }
}

@media screen and (min-width: 1920px) {
  .layout {
    margin-top: 4em;
    margin-left: 1em;
    width: 100%;
    height: 25.875em;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-title-container {
    padding: 0em;
    margin-top: 8.5em;
    display: flex;
    width: 34.688em;
    height: 16.063em;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}
