/* .layout {
  width: 39.375em;
  height: 35.625em;
} */
.card {
  background: var(--Tono1, #fef0d3);
  border-color: #fef0d3;
  margin-bottom: 1em;
  padding-top: 0em;
  margin-top: 0em;
}
.card-body {
  padding-top: 0em;
  margin-top: 0em;
}
h5 {
  color: var(--Tono2, #fd6d0d);
  font-family: Outfit, sans-serif;
  font-size: 1.65em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em; /* 133.333% */
  margin-top: 0;
  margin-bottom: 1em;
}
p {
  color: #848382;
  text-align: justify;
  font-family: Outfit, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em; /* 112% */
}
span {
  color: #515151;
  font-family: Outfit, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}
.content {
  display: flex;
  justify-content: center;
}
.child {
  margin-top: 1.5em;
  margin-bottom: 4em;
}
h4 {
  font-family: Outfit, sans-serif;
  color: var(--Tono2, #fd6d0d);
  font-weight: 750;
  text-shadow: grey 0 1px;
}
@media screen and (min-width: 1000px) {
  h5 {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em; /* 133.333% */
    margin-top: 0;
    margin-bottom: 1em;
  }
  p {
    color: #848382;
    text-align: justify;
    font-family: Outfit, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 112% */
  }
  .child {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1920px) {
  h5 {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em; /* 133.333% */
    margin-top: 0;
    margin-bottom: 1em;
  }
  p {
    color: #848382;
    text-align: justify;
    font-family: Outfit, sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 112% */
  }
  .child {
    margin-top: 4.5em;
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 812px) {
  .card {
    margin-bottom: 0em !important;
    padding-bottom: 0em !important;
  }
  .card-body {
    margin-bottom: 0em !important;
    padding-bottom: 0em !important;
  }
  .child {
    margin-top: 4.5em;
    margin-bottom: 2em;
  }
}
