<section class="container-fluid">
  <div class="content">
    <div class="child">
      <img src="../../../assets/v2/about.webp" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <img
        src="../../../assets/abaout.webp"
        class="card-img-top layout"
        alt="Danna Rojas Graphic Designer"
        title="Danna Rojas Graphic Designer"
      />
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            My passion is creating brands and developing unique visual
            identities that highlight the essence of each project
          </h5>
          <p class="card-text">
            With over 4 years of experience in graphic design, I've had the
            privilege of collaborating with various small businesses in
            Colombia, crafting memorable logos, social media images, and other
            visual elements that have contributed to their success.
          </p>
          <p>
            Currently, I am enjoying life in Metro Vancouver, where I continue
            to dedicate my creativity and skills to deliver impactful visual
            solutions. I am always open to new opportunities and excited about
            the challenges that the world of design may present.
          </p>
          <p>
            If you are looking for a fresh, creative, and professional approach
            for your project,
            <span>
              I would be delighted to bring my experience and passion to your
              vision.
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
<br />
<br />
