.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: var(--Tono1, #fef0d3);
}

.icon_home {
  width: 65px;
  height: 91px;
  flex-shrink: 0;
}
.navItem {
  color: var(--Tono2, #fd6d0d);
  text-align: right;

  /* Boton1 */
  font-family: Outfit;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
li {
  transition: background-color 0.5s;
}
li:hover {
  border-bottom: 1px solid #fd6d0d;
}
.layout {
  margin-right: 2.5em;
}
a {
  font-family: Outfit;
  line-height: normal;
  font-style: italic;
  line-height: normal;
  font-size: 1.688em;
}
