.content {
  display: flex;
  justify-content: center;
}
.child {
  margin-top: 4.5em;
  margin-bottom: 4em;
}
h4 {
  font-family: Outfit, sans-serif;
  color: var(--Tono2, #fd6d0d);
  font-weight: 750;
  text-shadow: grey 0 1px;
}
.navbar-container {
  flex-direction: row; /* Establecer la dirección de flexión a horizontal */
  margin-left: 0em;
}

.nav {
  flex-direction: row; /* Si es necesario, ajusta la dirección de flexión del menú */
  margin-top: 0.1em;
  margin-bottom: 1.5em;
}
.nav-link {
  color: var(--Tono2, #fd6d0d);
  font-family: Outfit, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 2.4em;
}
a {
  cursor: pointer;
}
a:hover {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3em;
  border-color: #fd6d0d;
  background: var(--Tono2, #fd6d0d);
  color: #fef0d3;
}

a.selected {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3em;
  border-color: #fd6d0d;
  background: var(--Tono2, #fd6d0d);
  color: #fef0d3;
}
.icon_finish {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 4em;
}
.icon_finish svg {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  position: relative;
}
.card {
  margin-top: 1.5em;
  border-radius: 2em;
  border-color: white;
}
p {
  font-family: Outfit, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  /*display: block;*/
}
.now {
  border-radius: 4em;
  background: var(--Tono2, #fd6d0d);
  border-color: #fd6d0d;
  position: absolute;
  left: calc(44.275em / 2 - 2.5em);
  height: auto;
  width: 10em;
  /*op: calc(61.25em / 2 - 0.625em);*/
}
.btn-layout {
  display: flex;
  padding: 0.1em 3.75em;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.625;
  flex-wrap: wrap;
}
.p-btn {
  color: var(--Tono1, #fef0d3);
  text-align: center;
  /* Boton1 */
  font-family: Outfit, sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.5em;
}
a:link {
  text-decoration: none;
}
.card-container {
  position: relative;
}
.button-container {
  position: absolute;
  bottom: 1.3em; /* Alinea el contenedor del botón en la mitad vertical */
  left: -8%;
  margin-left: 1em;
}
@media screen and (max-width: 812px) {
  .mb-4 {
    margin-bottom: 0em !important;
  }
  .navbar-container {
    flex-direction: row; /* Establecer la dirección de flexión a horizontal */
    margin-left: 0em;
  }

  .nav {
    flex-direction: row; /* Si es necesario, ajusta la dirección de flexión del menú */
    margin-top: 0.1em;
    margin-bottom: 1.5em;
  }
  .nav-link {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 0em;
  }
  a {
    cursor: pointer;
  }
  a:hover {
    margin: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: 3em;
    border-color: #fd6d0d;
    background: var(--Tono2, #fd6d0d);
    color: #fef0d3;
  }
  a.selected {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 3em;
    border-color: #fd6d0d;
    background: var(--Tono2, #fd6d0d);
    color: #fef0d3;
  }
  .child {
    margin-top: 4.5em;
    margin-bottom: 2em;
  }
  .card {
    margin-top: 1.2em;
  }
  .p-btn {
    color: var(--Tono1, #fef0d3);
    text-align: center;
    /* Boton1 */
    font-family: Outfit, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.5em;
  }
  .now {
    border-radius: 4em;
    background: var(--Tono2, #fd6d0d);
    border-color: #fd6d0d;
    position: initial;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }
  .button-container {
    display: flex;
    justify-content: center;
    position: initial;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }

  .content {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

@media screen and (min-width: 1920px) {
  .nav-link {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0px;
    padding-right: 0px;
  }
  .child {
    margin-top: 4.5;
    margin-bottom: 3em;
  }
  .card {
    margin-top: 0.5em;
  }
  .p-btn {
    color: var(--Tono1, #fef0d3);
    text-align: center;
    /* Boton1 */
    font-family: Outfit, sans-serif;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.5em;
  }
  .now {
    border-radius: 4em;
    background: var(--Tono2, #fd6d0d);
    border-color: #fd6d0d;
    position: absolute;
    left: calc(44.275em / 2 - 2.5em);
    height: auto;
    width: 13em;
    /*op: calc(61.25em / 2 - 0.625em);*/
  }
  .button-container {
    position: absolute;
    bottom: 1.3em; /* Alinea el contenedor del botón en la mitad vertical */
    left: 2em;
    margin-left: 1em;
  }
}
