.icon_init {
  width: 6.194em;
  height: 3.685em;
  transform: rotate(-11.778deg);
  flex-shrink: 0;
}
.icon_end {
  width: 99.098px;
  height: 58.958px;
  position: absolute;
  flex-shrink: 0;
  transform: rotate(-12.778deg);
  bottom: 0;
  right: 0;
  margin: 125px; /* Ajusta esto según sea necesario para dar espacio al icono desde el borde */
  display: none;
}
.nav {
  margin-top: 3.6em;
}
.nav-link {
  color: var(--Tono2, #fd6d0d);
  font-family: Outfit, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-container {
  position: sticky;
  top: 0;
  height: 100vh; /* Ajusta según sea necesario */
  width: 100%; /* O ajusta según sea necesario */
  overflow-y: auto;
  background-color: #fff; /* Fondo de la barra de navegación */
  z-index: 1000;
}

/*.navbar-container .flex-column {
  margin-top: 1em;
  position: fixed;
  top: 0;
  z-index: 1; 
  overflow-x: hidden; 
}*/
a {
  transition: background-color 0.5s;
}
a:hover {
  border-bottom: 1px solid #fd6d0d;
}
.icon_finish {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
}
.icon_finish svg {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  position: relative;
}
.icon_right {
  width: 158.983px;
  height: 355.043px;
  flex-shrink: 0;
  position: absolute;
  top: 0; /* Puedes ajustar la posición vertical según tus necesidades */
  right: 0; /* Colócalo a la derecha */
  padding-top: 3.75em;
}

.col-sm-2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}

.icon_left {
  width: 158.983px;
  height: 355.043px;
  flex-shrink: 0;
  padding-left: 0.625em;
}
.works_layout {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.products {
  padding-left: 5em;
  padding-top: 0.625em;
}
.right {
  padding-right: 1.5em;
}
.card {
  margin-bottom: 1em;
}

@media screen and (max-width: 812px) {
  .mb-4 {
    margin-bottom: 0em !important;
  }
  .navbar-container {
    flex-direction: row; /* Establecer la dirección de flexión a horizontal */
  }

  .nav {
    flex-direction: row; /* Si es necesario, ajusta la dirección de flexión del menú */
    margin-top: 0.1em;
  }
  .nav-link {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0px;
    padding-right: 0px;
  }
  a {
    margin-left: 1.5em;
    cursor: pointer;
  }
  a:hover {
    border-bottom: 1px solid #fd6d0d;
  }
  .icon_init {
    display: none;
  }
  .icon_left {
    display: none;
  }
  .icon_right {
    display: none;
  }
  .products {
    align-items: center;
    padding-left: 0;
  }
  .icon_finish {
    padding-bottom: 0em;
  }
}
@media screen and (min-width: 1920px) {
  .nav-link {
    color: var(--Tono2, #fd6d0d);
    font-family: Outfit, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0px;
    padding-right: 0px;
  }
}
