.icon_init {
  width: 6.194em;
  height: 3.685em;
  transform: rotate(-11.778deg);
  flex-shrink: 0;
}
.nav-link {
  color: var(--Tono2, #fd6d0d);
  font-family: Outfit, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-container {
  position: sticky;
  top: 0;
  height: 100vh; /* Ajusta según sea necesario */
  width: 100%; /* O ajusta según sea necesario */
  overflow-y: auto;
  background-color: #fff; /* Fondo de la barra de navegación */
  z-index: 1000;
}

/*.navbar-container .flex-column {
  margin-top: 1em;
  position: fixed;
  top: 0;
  z-index: 1; 
  overflow-x: hidden; 
}*/
a {
  transition: background-color 0.5s;
}
a:hover {
  border-bottom: 1px solid #fd6d0d;
}
.icon_finish {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.icon_finish svg {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  position: relative;
}
.icon_right {
  width: 158.983px;
  height: 355.043px;
  flex-shrink: 0;
  position: absolute;
  top: 0; /* Puedes ajustar la posición vertical según tus necesidades */
  right: 0; /* Colócalo a la derecha */
}
.icon_left {
  width: 158.983px;
  height: 355.043px;
  flex-shrink: 0;
}
.works_layout {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .icon_init {
    width: 1em;
    height: 2em;
    transform: rotate(-41.778deg);
    flex-shrink: 0;
  }
}
