/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
  margin: 0;
  background: var(--Tono1, #fef0d3);
}
body,
footer,
section {
  background: var(--Tono1, #fef0d3);
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  display: table;
  width: 100%;
  height: 13vh;
  text-align: center;
}
