<footer class="container-fluid layout footer" id="footer-contacts">
  <div class="row justify-content-evenly">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-start margin">
      <a (click)="onClick('home')">
        <img
          src="../../../assets/logo.webp"
          alt="Danna Rojas Grapic Designer"
          title="Danna Rojas Graphic Designer"
        />
      </a>
    </div>
    <div class="col-sm-4 text-end margin">
      <div class="container social">
        <a
          href="mailto:dannarojas@gmail.com?subject=Price&body=Hello, I hope you are well
        I would like to make a quote"
          target="_blank"
          rel="noreferrer"
        >
          <img src="../../../assets/email.svg" alt="Email" class="icon" />
        </a>

        <a
          href="https://www.linkedin.com/in/danna-rojas-triana-02189a6b/?locale=en_US"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="../../../assets/icoLink.svg"
            alt="linkedin"
            class="icon_two"
          />
        </a>

        <a
          href="https://www.behance.net/dannarotrbd7d/appreciated"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="../../../assets/icoBeha.svg"
            alt="behance"
            class="icon_two"
          />
        </a>
      </div>
      <div class="row text-end social">
        <span class="social">© All Rights Reserved {{ year }}</span>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</footer>
