.layout {
  background-image: url(../../../assets/footer.svg);
  width: 100%;
  height: max-content;
  flex-shrink: 0;
}
.margin {
  margin-top: 5.5em;
  margin-bottom: 3em;
}
img {
  width: 26.188em;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  object-position: bottom;
}
.icon {
  width: 50px;
  height: auto;
  flex-shrink: 0;
  margin-top: 3.8em;
  padding: 0;
  margin-bottom: 0;
}
.icon_two {
  width: 50px;
  height: auto;
  flex-shrink: 0;
  margin-left: 1em;
  margin-top: 2.5em;
}
span {
  padding: 3em, 1em, 1em, 1em;
  font-size: xx-small;
}
.social {
  padding-right: 1.875em;
  padding-top: 0.2em;
}
@media btnHome, only screen and (max-width: 767px) {
  img {
    width: 98%;
  }
  .margin {
    margin-top: 1.5em;
    margin-bottom: 0em;
    padding: 0;
  }
  .text-end {
    text-align: center;
  }
  .social {
    justify-content: center;
    text-align: center;
    padding-right: 0;
  }
  span {
    padding: 0;
    font-size: xx-small;
  }
  .icon {
    margin-top: 1em;
    width: 40px;
  }
  .icon_two {
    margin-top: 0em;
    width: 40px;
  }
}
